{% extends "layout" %}
{% block content %}

  <title>Phoenix United Bareilly</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/aboutbanner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale">
    </div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/about-banner-mobile.jpg" class="scale"></section>
  <!--banner-->
  <!--midd-->
  <section class="shopmidd-wrap none" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="index-2.html">Home</a>
        </li>
        &raquo;
        <li>About Phoenix United</li>
      </ul>
    </div>
    <h1>about us</h1>
    <div class="bodytext">The first mall of the city, Phoenix United is located in the highly developed residential catchments of Bareilly in Pilbhit Bypass. Making it 'the place' to hangout with your loved ones.
      <br><br>

      You can indulge in the myriad options for entertainment as you shop to your heart's content from our exhaustive mix of national and International brands.
      <br><br>

      The multiplex has 4 screens and seating arrangement for over 1000 people, which makes it the most favored place to watch blockbuster hits. Not to forget, a wide area, dedicated solely to multi cuisines food court, which offers several dining options.
      <br><br>
      Take a break from routine and visit Phoenix Bareilly to create memories that last long.

      <br><br><br></div>
    <h2>About Group company</h2>
    <div class="bodytext">Becoming the epitome for development in shopping and entertainment hubs across the country, Phoenix Mills Ltd. is poised to carve a niche in the booming Indian real estate sector. Led by our young Managing Director, Atul Ruia
      and a team of exceptionally talented professionals, the Phoenix Group is set to take on the challenge of redefining lifestyle in Indian cities.<br><br>
      From mega retail malls, entertainment complexes, commercial space to hospitality units, the Group is determined to make its presence felt in India.&nbsp;We are present in Mumbai, Bangalore, Chennai, Pune, Agra, Lucknow and Barielly.<br><br>
      We rely on our team's strengths, which range from project management capabilities; project planning and aggressive rollout plans. Our belief is that an organization that stays together as a family progresses in all aspects.</div>
  </section>
  <!--midd-->

{% endblock %}
