{% extends "layout" %}
{% block content %}
  <title>Cafe and Restaurants</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/cafe-restaurants-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/cafe-restaurants-mobile.jpg" class="scale"></section>
  <!--banner-->

  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>
          <a href="../food">Food</a>
        </li>
        &raquo;
        <li>Caf&eacute; &amp; Restaurants</li>
      </ul>
    </div>
    <h1>caf&eacute; &amp; restaurants</h1>

    <div class="foodlrbox">
      <div class="foodleft">
        <div class="noodlebar-logo"><img src="../images/kfc-logo.jpg" class="scale"></div>
        <div class="foodsubhead">KFC</div>
        <div class="bodytext">Delivering finger-licking goodness all around the globe, KFC has made a place in people's heart no other brand could at that time. Kentucky Fried Chicken was founded by Harland Sanders, an entrepreneur who began selling fried
          chicken from his roadside restaurant in Corbin, Kentucky, during the Great Depression. Over the years they have progressed by extending their product range from just fried chicken to a lot more. If ever you wish to hang out in a place that is peppy,
          has amazing food that is totally worth the money, KFC is 'the' place. Come to KFC outlet at Phoenix.</div>
      </div>
      <div class="foodright overflow-food">
        <a href="#"><img src="../images/kdf-foodimg.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>

    <div class="foodlrbox">
      <div class="foodright food-paddright">
        <div class="noodlebar-logo"><img src="../images/SagarRatna-logo.jpg" class="scale"></div>
        <div class="foodsubhead">Sagar Ratna</div>
        <div class="bodytext">In an ever-evolving market, Sagar Ratna believes in delighting the customers with new innovations in its menu. The must – try dishes at any of Sagar Ratna restaurants are the Mini Idlis dipped in sambhar, Medu Vada, Dahi Vada,
          Masala Dosa, Rava Onion Masala Dosa, Mysore Masala Dosa, Rava Kesari. The nascent coffee aroma emanating from the filter coffee, served in the traditional steel tumbler and saucer is another specialty of Sagar. Choose none other than Sagar Ratna for
          South Indian cuisine.
        </div>
      </div>
      <div class="foodleft food-paddleft overflow-food">
        <a href="#"><img src="../images/SagarRatna-img.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>

    <div class="foodlrbox">
      <div class="foodleft">
        <div class="noodlebar-logo"><img src="../images/pizzaHut-logo.jpg" class="scale"></div>
        <div class="foodsubhead">Pizza Hut
        </div>
        <div class="bodytext">Pizza Hut is about much more than pizzas. From freshly sautéed pastas & delicious appetizers to mocktails, desserts, soups and salads, we have a wide range for you to feast on. All this, combined with the warm, inviting ambience
          and friendly service, lead to endless conversations, laughter and memories that you'll cherish forever.
        </div>
      </div>
      <div class="foodright overflow-food">
        <a href="#"><img src="../images/pizzaHut-img.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>

    <div class="foodlrbox">
      <div class="foodright food-paddright">
        <div class="noodlebar-logo"><img src="../images/ccd-logofood.jpg" class="scale"></div>
        <div class="foodsubhead">CAF&Eacute; COFFEE DAY</div>
        <div class="bodytext">Café Coffee Day is a coffee shop for the young and the young at heart. A smart, simple space that one can call their own for a while… sit down, talk and listen to conversations, hold short meetings or even have a lot of good
          fun…all over steaming cups of coffee.</div>
      </div>
      <div class="foodleft food-paddleft overflow-food">
        <a href="#"><img src="../images/ccdimg.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>
    <div class="foodlrbox">
      <div class="foodleft">
        <div class="noodlebar-logo"><img src="../images/mcd-foodlogo.jpg" class="scale"></div>
        <div class="foodsubhead">McDonalds</div>
        <div class="bodytext">Give in to your temptation of gorging upon those yummilicious burgers at McDonald's. Delivering smiles all across the world, McDonald's is one such brand that not only makes good food but wins heart as well. Choose from their
          wide range of sides, burgers and also some cool shakes and desserts that will help you escape the gloom and obviously the summer heat.When are you hitting your favourite hangout place of the city?</div>
      </div>
      <div class="foodright overflow-food">
        <a href="#"><img src="../images/mcdimg.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>
  </section>
  <!--midd-->

{% endblock %}
