{% extends 'layout' %}

{% block content %}
  <title>Disclaimer</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/disclaimer-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/Disclaimer-mobile-banner.jpg" class="scale"></section>
  <!--banner-->

  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Disclaimer</li>
      </ul>
    </div>
    <h1>disclaimer</h1>
    <p class="bodytext-small">By access and use of this website (hereinafter called "the Site"), you accept and agree to be bound by and comply with these legal terms of use (hereinafter referred to as "the Disclaimer").
    </p>
    <p class="bodytext-small">By using the Site, you represent that you have read and understood these terms and conditions and agree to be bound by these terms and conditions. Furthermore, by using the Site, you represent that:
      <br>(i) You have the capacity to be bound by these terms and conditions; and (ii) If you are acting on behalf of a company or other entity, you have the authority to bind such company or entity</p>
    <div class="disclaimer-subhead">GENERAL</div>
    <p class="bodytext-small">All specifications, products and services in the pages of the Site are only indicative and subject to the terms and conditions of the applicable agreements governing their use, which may change from time to time.</p>
    <p class="bodytext-small">The information may be changed at any time without notice. Changes may be made to the terms provided in the pages of the Site. The Information provided on the Site is believed to be reliable when posted, however, the same
      cannot be held accurate or complete at all times.</p>
    <div class="disclaimer-subhead">CONDITIONS FOR PRODUCTS AND SERVICES</div>
    <p class="bodytext-small">The terms and conditions applicable to any product, service or information will be those determined at the time of provision of the product, service or information. Please be aware of the laws of your state/country or that
      otherwise apply to you in relation to any of the matters described in these pages. If you choose to access the Site, you do so on your own initiative and are responsible for compliance with applicable local, national or international laws.</p>
    <div class="disclaimer-subhead">NO WARRANTIES</div>
    <p class="bodytext-small">The Company and any of its affiliates, subsidiaries, officers, directors, employees or agents provide the Site and the Information on "as is" basis and do not make any express or implied warranties, representations,
      endorsements or conditions with respect to the Site or the Information, including without limitation, warranties as to merchantability, operation, non-infringement, usefulness, completeness, accuracy, current validity, reliability and fitness for a
      particular purpose. Further, the Company does not represent or warrant that the Site will be available and meet your requirements, that access will be uninterrupted, that there will be no delays, failures, errors or omissions or loss of transmitted
      information, that no viruses or other contaminating or destructive properties will be transmitted or that no damage will occur to your computer system. You have sole responsibility for adequate protection and backup of data and/or equipment and to
      take reasonable and appropriate precautions to scan for computer viruses or other destructive properties while you access the Site.
    </p>
    <div class="disclaimer-subhead">TRADE-MARKS AND COPYRIGHTS</div>
    <p class="bodytext-small">The Company reserves all copyright, trademark, patent, intellectual and other property rights in the information contained in this website and to all company specific logos and services logos and no express or implied
      license is granted in respect thereof. Any unauthorised access, use or reproduction of the information or proprietary rights contained in this site is strictly prohibited and is subject to such action as provided in applicable laws. No information on
      this website should be reproduced or distributed without the prior written consent of the Company. The Information is for your personal use only. Any unauthorised downloading, re-transmission, or other copying or modification of trademarks and/or the
      contents of the Site may be a violation of any law that may apply to trademarks and/or copyrights and could subject the copier to legal action.</p>
    <div class="disclaimer-subhead">CONFIDENTIALITY</div>
    <p class="bodytext-small">The company reasonably strives to keep any and all information shared by the user or visitor under confidentiality and does not share any personal information unless consented to by the user by using the website and any
      services through it. However, the company disclaims any responsibility if the website is hacked or is corrupted by any virus attack.</p>
    <div class="disclaimer-subhead">NO LIABILITY</div>
    <p class="bodytext-small">The Company is not responsible for and will not be liable to you or anyone else for any damages whatsoever (including direct, indirect, incidental, special, consequential, exemplary or punitive damages) arising out of or in
      connection with your use of or inability to use the Site or the Information, or any action or decision made by you in reliance on the Site or the Information, or any unauthorised use or reproduction of the Site or the Information, even if the Company
      has been advised of the possibility of these damages.</p>
    <div class="disclaimer-subhead">JURISDICTION</div>
    <p class="bodytext-small">The Company controls and maintains this site from India. The Company makes no representation that the information and material contained in this site is appropriate or permitted for use in jurisdictions outside India. The
      terms and conditions are governed by the laws of India without giving effect to any principles of conflicts of laws. The Site for the user is subject to the exclusive jurisdiction of the courts of India, specifically the courts in Lucknow without
      prejudice to the right of the Company to take any action in any jurisdiction whatsoever.</p>
  </section>
  <!--midd-->
{% endblock %}
