{% extends 'layout' %}

{% block content %}
  <title>Phoenix Mall Bareilly Shops | SRS Cinemas Phoenix Bareilly | Movies In Phoenix Mall Bareilly
  </title>
  <section class="shopbanner">
    <div class="bannerimg"><img src="images/entertainment/enterbannner-banner.jpg" class="scale"></div>
    <div class="banner-dwnarrow scroll-link"><img src="images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/entertainment/enterbannner03.jpg" class="scale">
  </section>

  {# banner #}

  {# mid #}
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Entertainment</li>
      </ul>
    </div>
    <aside class="events-left">
      <h1>entertainment</h1>
      <div class="bodytext eventstxt-bottommargin">Single, together or with family and friends, who doesn't like a break? Step into Phoenix United for an awesome entertainment experience.</div>
    </aside>
    <div class="clr"></div>
    <div class="entertainment-wrap list">
      <div class="foodlrbox">
        <div class="foodright food-paddright">
          <div class="noodlebar-logo"><img src="../images/srslogo.jpg" class="scale"></div>
          <div class="foodsubhead">SRS</div>
          <div class="bodytext">Enjoy the latest movie with a large bucket of popcorn at the SRS Cinemas. A multi-screen movie hall with plush and comfortable seats. It is one of the largest multiplex chain in North India.</div>
          <div class="knowmore">
            <a href="http://www.srscinemas.net/index.php" rel="nofollow">SHOWS</a>
          </div>
        </div>
        <div class="foodleft food-paddleft overflow-food">
          <a href="http://www.srscinemas.net/index.php" target="_blank"><img src="../images/srsimg.jpg" class="scale"></a>
        </div>
        <div class="clr"></div>
      </div>
      <div class="foodlrbox">
        <div class="foodleft">
          <div class="noodlebar-logo"><img src="../images/72logo.jpg" class="scale"></div>
          <div class="foodsubhead">72 MADSTREET</div>
          <div class="bodytext">72 Madstreet is a Family Entertainment Center and food court. A place which offers something for each and every age group like Arcade games, Striking Cars and Food. A stress free zone to enjoy your holiday with family or friends.</div>
        </div>
        <div class="foodright overflow-food"><img src="../images/72img.jpg" class="scale"></div>
        <div class="clr"></div>
      </div>
      <div class="foodlrbox">
        <div class="foodright food-paddright">
          <div class="noodlebar-logo">
            <!--<img src="images/srslogo.jpg" class="scale">-->
          </div>
          <div class="foodsubhead">HAUNTED HOUSE</div>
          <div class="bodytext">Do you think you have what it takes to venture in alone? The Haunted House at the Phoenix United, Bareilly is not for the faint hearted.</div>
          <!--<div class="knowmore">SHOWS</div>-->
        </div>
        <div class="foodleft food-paddleft overflow-food"><img src="../images/hounted-houseimg.jpg" class="scale"></div>
        <div class="clr"></div>
      </div>
    </div>
  </section>
  <!-- tabset0 -->
  <section class="entertainment_mobile">
    <h3>Filter MOVIES By:</h3>
    <div id="tabsholder">
      <ul class="tabss">
        <li id="tab1">NOW SHOWING</li>
        <li id="tab2">UPCOMING RELEASE</li>
      </ul>
      <div class="contents marginbot">
        <div id="content1" class="tabscontent">
          <ul>
            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img1.jpg"/>
                <div class="mask">
                  <h2>KAPOOR & SONS<br/>
                    <span class="first">HINDI</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img2.jpg"/>
                <div class="mask">
                  <h2>KUNG FU PANDA<br/>
                    <span class="first">ENGLISH</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img1.jpg"/>
                <div class="mask">
                  <h2>KAPOOR & SONS<br/>
                    <span class="first">HINDI</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img2.jpg"/>
                <div class="mask">
                  <h2>KUNG FU PANDA<br/>
                    <span class="first">ENGLISH</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

          </ul>

        </div>
        <div id="content2" class="tabscontent">

          <ul>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img2.jpg"/>
                <div class="mask">
                  <h2>KUNG FU PANDA<br/>
                    <span class="first">ENGLISH</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img1.jpg"/>
                <div class="mask">
                  <h2>KAPOOR & SONS<br/>
                    <span class="first">HINDI</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img2.jpg"/>
                <div class="mask">
                  <h2>KUNG FU PANDA<br/>
                    <span class="first">ENGLISH</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

            <li>
              <div class="view view-first">
                <img src="../images/entertainment-img1.jpg"/>
                <div class="mask">
                  <h2>KAPOOR & SONS<br/>
                    <span class="first">HINDI</span>
                    <span class="second">U/A</span>
                  </h2>
                </div>
              </div>
            </li>

          </ul>

        </div>

      </div>
    </div>

  </section>
  <div class="clr"></div>

  <!--midd-->
{% endblock %}
