{% extends "layout" %}

{% block content %}
  <title>Food court</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/foodcourt-banner-updated.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/food-court-banner-mobile-updated.jpg" class="scale"></section>
  <!--banner-->
  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>
          <a href="/food">Food</a>
        </li>
        &raquo;
        <li>Food Court</li>
      </ul>
    </div>
    <h1>Food court</h1>
    <div class="filterimg-wrap">
      <ul>
        <li><img src="../images/brands-logos/dominos.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/dosa-planet.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/hungry-d.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/italian.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/Mad-about-China.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/mezbaan.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/noodle-stn.jpg" class="scale"></li>
        <!--<li><img src="images/brands-logos/sagar-ratna.jpg" class="scale"></li>-->
        <li><img src="../images/brands-logos/smoked.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/yo-dhaba.jpg" class="scale"></li>
        <li><img src="../images/brands-logos/moti-mahal.jpg" class="scale"></li>
      </ul>
    </div>
  </section>
  <!--midd-->

{% endblock %}
