{% extends 'layout' %}

{% block content %}
  <title>Food Court in Phoenix Mall Bareilly</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/foodbanner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="images/food-banner-mobile.jpg" class="scale"></section>
  <!--banner-->
  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Food</li>
      </ul>
    </div>
    <div class="foodlrbox">
      <div class="foodleft foodleft-nopadd">
        <h1>FOOD</h1>
        <div class="bodytext">
          Salvage the foodie in you by devouring on our range of authentic cuisines. From the mouth-watering array of dishes to the ever engaging and warm ambience, our food court has it all. Bring your loved ones for an amazing day out and have your pick from
          our varied chain of restaurants serving cuisines from all over the world.
          <br>
          <br>A welcoming retreat from the monotony!
        </div>
      </div>
      <div class="foodright txtcenter overflow-food"><img src="images/foodimg01.jpg" class="scale"></div>
      <div class="clr"></div>
    </div>
    <div class="foodlrbox">
      <div class="foodright food-paddright">
        <!--<div class="noodlebar-logo"><img src="images/noodlebar-logo.jpg" class="scale"></div>-->
        <div class="foodsubhead list">CAF&Eacute; &amp; RESTAURANTS</div>
        <div class="bodytext">Here's your chance to have your heart's fill of cuisines from round the world. Our bevy of cafes and restaurants give you a tour of mouth-watering dishes that are here to please not only your taste buds but also your soul. Dig
          into most scrumptious recipes you can get your hands on only at your favourite lifestyle destination, Phoenix.</div>
        <div class="knowmore">
          <a href="/cafe-restaurants">VIEW MORE</a>
        </div>
      </div>
      <div class="foodleft food-paddleft overflow-food">
        <a href="cafe-restaurants"><img src="../images/kdf-foodimg.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>
    <div class="foodlrbox">
      <div class="foodleft">
        <div class="foodsubhead list">FOOD COURT</div>
        <div class="bodytext">At Phoenix Mall, every dining experience is unique and exquisite. With an extensive range of 'tastefully selected' restaurants, the most appetizing food, and a number of cuisines from around the world, we give you everything you
          need to keep your taste buds happy!</div>
        <div class="knowmore">
          <a href="/food-court">VIEW MORE</a>
        </div>
      </div>
      <div class="foodright overflow-food">
        <a href="/food-court"><img src="../images/dominos-img.jpg" class="scale"></a>
      </div>
      <div class="clr"></div>
    </div>
    <!--noodlebar-img-->
  </section>
  <!--midd-->

  <!--footer-->

{% endblock %}
