<footer>
  <div class="footerwrap">
    <div class="footerlisting">
      <ul>
        <li>
          <a href="/aboutus">About Us</a>
        </li>
        <li>
          <a href="/displaygallery">Gallery</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/career">Careers</a>
        </li>
        <li>
          <a href="/contactus">Contact us</a>
        </li>
        <!--<li><a href="business-enquiries.aspx">Business Enquiries</a></li>-->
      </ul>

      <ul>
        <li>
          <a href="/floor-plan">Floor Plan</a>
        </li>
      </ul>
      <!--<ul> <li><a href="business-enquiries.aspx">Talk to us</a></li> <li><a href="women-membership-card.aspx">Women's Club</a></li> </ul>-->

      <div class="signup-block">
        Sign Up For Updates
        <span></span>
        <div class="emaiwrap">
          <form class="" action="/signupforupdate" method="post">
            <input name="email" type="text" maxlength="60" id="UCBottomband1_txtSignUpEmail" class="txtbox" placeholder="Email" required="required"/>
            <input type="submit" name="UCBottomband1$btnSignUpSubmit" value="Submit" id="UCBottomband1_btnSignUpSubmit" class="submitbtn"/>
          </form>
          <div class="clr"></div>
        </div>
      </div>

      <div class="clr"></div>
    </div>
    <div class="footerright">
      <div class="social-wrap">
        <ul>
          <li>
            <a href="https://www.facebook.com/Phoenixunitedbareilly-1732982036979388/" target="_blank"><img src="../images/fb-icon.png" class="scale"/></a>
          </li>
          <li>
            <a href="https://twitter.com/PhoenixUnitedBE" target="_blank"><img src="../images/twitter-icon.png" class="scale"/></a>
          </li>
          <li>
            <a href="https://www.instagram.com/phoenixbareilly/" target="_blank"><img src="../images/insta-icon.png" class="scale"/></a>
          </li>
        </ul>
      </div>
      <div class="footerlinks">
        <ul>
          <li>
            <a href="/sitemap">SITEMAP</a>
          </li>
          <li>
            <a href="/privacypolicy">PRIVACY POLICY</a>
          </li>
          <li>
            <a href="/disclaimer">DISCLAIMER</a>
          </li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</footer>
<div class="copy-wrap">
  <div class="designed-wrap">
    <div class="designed">Designed and developed by</div>

    <div class="clr"></div>
  </div>
  <div class="social-wrap-mobile">
    <ul>
      <li>
        <a href="https://www.facebook.com/Phoenixunitedbareilly-1732982036979388/" target="_blank"><img src="../images/fb-icon.png" class="scale"/></a>
      </li>
      <li>
        <a href="https://twitter.com/PhoenixUnitedBE" target="_blank"><img src="../images/twitter-icon.png" class="scale"/></a>
      </li>
      <li>
        <a href="https://www.instagram.com/phoenixbareilly/" target="_blank"><img src="../images/insta-icon.png" class="scale"/></a>
      </li>
    </ul>
  </div>
  <div class="copy">Copyright &copy; Phoenix United Pvt Ltd. 2019 All rights reserved.</div>
  <div class="clr"></div>
</div>

<!--footer-->

</div>
