{% extends 'layout' %}

{% block content %}
  <title>Other Locations</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/other-locations-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/locations-banner-mobile.jpg" class="scale"></section>
  <!--banner-->
  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Other Locations</li>
      </ul>
    </div>
    <h1>other locations</h1>
    <div class="location-wrap">
      <div class="location-left"><img src="../images/location-img2.jpg" class="scale"></div>
      <div class="location-right">
        <div class="location-subhead">BAREILLY</div>
        <div class="bodytext location-txt">Phoenix United is located in the highly developed residential catchments of Bareilly, the Pilibhit Bypass. It is the first mall of the city and is adjoining an entertainment park namely "Fun City".</div>
      </div>
      <div class="clr"></div>
    </div>
  </section>
  <!--midd-->

{% endblock %}
