{% extends 'layout' %}

{% block content %}
  <title>Phoenix United Bareilly</title>

  <!-- banner -->
  <section class="shopbanner"><img src="images/other-locations-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="images/locations-banner-mobile.jpg" class="scale"></section>
  <!--banner-->
  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="index-2.html">Home</a>
        </li>
        &raquo;
        <li>Other Locations</li>
      </ul>
    </div>
    <h1>other locations</h1>
    <div class="location-wrap">
      <div class="location-left"><img src="images/location-img.jpg" class="scale"></div>
      <div class="location-right">
        <div class="location-subhead">LUCKNOW</div>
        <div class="bodytext location-txt">An ode for shopaholics and a favourite destination for foodies; Phoenix Lucknow is a dream come true for the people of this city of Nawabs. Nestled between Piccadily Hotel and Krishna Colony, this mall is developed
          over a sprawling 6,50,000 sq. ft. With a spectrum of domestic and international brands that give bountiful of options for shoppers, Phoenix Lucknow is definitely 'the place', one would hang out with loved ones.</div>
      </div>
      <div class="clr"></div>
    </div>
  </section>
  <!--midd-->

{% endblock %}
