{% extends 'layout' %}

{% block content %}
  <title>Privacy and policy
  </title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/privacybanner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="../images/privacy-policy-mobile-banner.jpg" class="scale"></section>
  <!--banner-->

  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Privacy Policy</li>
      </ul>
    </div>
    <h1>privacy policy</h1>
    <div class="disclaimer-subhead">Privacy & collection of personal information</div>
    <p class="bodytext-small">Data Privacy is our prime concern and we are committed to safeguarding the privacy of our website visitors. Any personal information /sensitive data that is collected by the website is retained only with the consent of the
      visitor and only when is it necessary to do so. Such information is maintained under strict confidentiality and is used by us strictly in accordance with applicable Indian Laws. Reasonable measures are taken to ensure that any personal information is
      protected from unauthorised access, loss, misuse, disclosure or alteration. By visiting and using the website the visitor consents and agrees to the policies of the website.</p>
    <p class="bodytext-small">We may collect information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit,
      page views and website navigation paths), Any information provided by the user while registering with our website while completing his profile details like name, date of birth, pictures educational details, relationship status, hobbies, email id etc.</p>
    <p class="bodytext-small">If any update of any personal information is requested in our records (e.g. if you change your address), then updated details would be required to be provided by the user so as to enable us to make the change. You may be
      requested to provide some verification before the information is recorded. We shall not be responsible for the authenticity of any personal information supplied to us by you.</p>
    <div class="disclaimer-subhead">Purpose of collecting personal information and how is personal information used</div>
    <p class="bodytext-small">The information collected shall primarily be used to identify the visitor as a potential customer/ stakeholder of the company, and will be used for the limited purpose of maintaining and building the database of potential
      customers/ stakeholders, extending benefits and communicating to them information on the company.</p>
    <p class="bodytext-small">In case we wish to use personal information provided by you for a purpose other than those that are set out in this policy, we shall update or modify this policy and publish the updated policy on our website.</p>
    <p class="bodytext-small">The personal information so collected may be used for purposes like administering our website and business, sending you marketing commercial communications, personalize our website for specific user/ visitor, sending
      notifications that may be specifically requested by the visitor, sending email notifications and newsletters.</p>
    <div class="disclaimer-subhead">How we share your information</div>
    <p class="bodytext-small">The Company website is internet accessible by all. You may be accessing several external links while navigating through the said website. These external links may belong to the company or third party service providers. We
      may share personal information with other group companies, and also with other third parties, subject to the following terms:</p>
    <p class="bodytext-small">Consent: We will share your personal information with other group companies, and also with other third parties only with your consent. You can indicate your consent by using the website and any services through the website.</p>
    <p class="bodytext-small">Subject to the terms mentioned above, we would share your personal information with a third party for following reasons and under the following circumstances: For external processing: Provide your personal information to our
      affiliates or other trusted business associates or technology partners to process it for us, based on our instructions and in compliance with this policy and applicable laws.</p>
    <p class="bodytext-small">Third-party service providers: We employ other companies and individuals to perform certain functions on our behalf. They have access to your personal information needed to perform their functions, but shall not use it for
      other purposes or disclose it further.</p>
    <p class="bodytext-small">For legal reasons: We will share your personal information if the same is necessary to:</p>
    <p class="bodytext-small">Meet any applicable law, regulation, legal process or enforceable governmental request.</p>
    <p class="bodytext-small">Enforce applicable Terms of Service, including investigation of potential violations.</p>
    <p class="bodytext-small">Detect, prevent, or otherwise address fraud, security or technical issues.</p>
    <p class="bodytext-small">Protect against harm to the rights, property or safety of us, our users or the public as required or permitted by law.</p>
    <p class="bodytext-small">Please note that we can share your personal information, without your consent, with Government agencies upon receiving a written request from any Government agency for such information.</p>
    <div class="disclaimer-subhead">Information security</div>
    <p class="bodytext-small">We strive to protect our website and any information therein from unauthorised access and unauthorised alteration, disclosure or destruction of information we hold. In particular:</p>
    <p class="bodytext-small">We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorised access to systems. We do not, without your express consent, supply your personal
      information to any third party for the purpose of their or any other third party's direct marketing. We also take measures to disable personal information when it is no longer required by us and is never retained longer than necessary.</p>
    <p class="bodytext-small">The user / visitor is responsible for keeping the password used for accessing our website as confidential; we will not ask for any password except when the user logs in to our website</p>
  </section>
  <!--midd-->
{% endblock %}
