{% extends 'layout' %}

{% block content %}

  <title>Best Shopping Places in Bareilly, Fashion Stores For Women, Women's Clothing Stores</title>

  <!-- banner -->
  <section class="shopbanner"><img src="images/services-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="images/arrowdown1.png" class="scale"></div>
  </section>
  <section class="shopbanner-mobile-banner"><img src="images/services-banner-mobile.jpg" class="scale"></section>

  <!--banner-->
  <!--midd-->

  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="index-2.html">Home</a>
        </li>
        &raquo;
        <li>Services</li>
      </ul>
    </div>
    <h1>services</h1>
    <div class="services-block">
      <div class="services-blockimg"><img src="images/services-atm.jpg" class="scale"></div>
      <div class="serviceblock-bottbox service-firstblock">
        <span>ATM Services:</span>
        We provide ATM services so that you can keep shopping.</div>
    </div>

    <div class="services-block">
      <div class="services-blockimg"><img src="images/services-handicap.jpg" class="scale"></div>
      <div class="serviceblock-bottbox capgreen">
        <span>Handicap Assistance:</span>
        Phoenix United, Bareilly offers wheelchair assistance to those who needs it. Ground floor & basement.</div>
    </div>
    <div class="services-block">
      <div class="services-blockimg"><img src="images/services-firstaid.jpg" class="scale"></div>
      <div class="serviceblock-bottbox caplightgreen">
        <span>First Aid:</span>
        At Phoenix United, Bareilly First Aid is available at the shopping centre. Ground Floor desk.</div>
    </div>
    <div class="clr"></div>
  </section>
  <!--midd-->

{% endblock %}
