{% extends 'layout' %}

{% block content %}
  <title>Sitemap</title>
  <!-- banner -->
  <section class="shopbanner"><img src="../images/sitemap-banner.jpg" class="scale">
    <div class="banner-dwnarrow scroll-link"><img src="../images/arrowdown1.png" class="scale"></div>
  </section>
  <!--banner-->

  <!--midd-->
  <section class="shopmidd-wrap" id="middbody">
    <div class="bredcrum">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        &raquo;
        <li>Sitemap</li>
      </ul>
    </div>
    <div class="sitemap-wrap">
      <h1 class="sitemap-head">Sitemap</h1>
      <ul>
        <li>
          <div class="sitemap-list-left">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/shop">Shop</a>
              </li>
              <li>
                <a href="/entertainment">Entertainment</a>
              </li>
              <li>
                <a href="/event">Events</a>
              </li>
              <li>
                <a href="/offer">Offers</a>
              </li>
              <li>
                <a href="/services">Services</a>
              </li>
              <li>
                <a href="/otherlocations">Other Locations</a>
              </li>
            </ul>
          </div>
          <div class="sitemap-list-right">
            <ul>
              <li>
                <a href="/aboutus">About us</a>
              </li>
              <li>
                <a href="/gallery">Gallery</a>
              </li>
              <li>
                <a href="/career">Careers</a>
              </li>
              <li>
                <a href="/contactus">Contact us</a>
              </li>
              <!--<li><a href="women-membership-card.aspx">Women's Club</a></li>-->
              <li>
                <a href="/privacypolicy">Privacy Policy</a>
              </li>
              <li>
                <a href="/disclaimer">Disclaimer</a>
              </li>
            </ul>
          </div>
          <div class="clr"></div>
        </li>
      </ul>
    </div>
  </section>
  <!--midd-->
{% endblock %}
