<div class="user-containeer">

  <form action="/adminsignup" method="post">

    <label for="name">Name<label>
        <input type="text" name="username">

        <label for="name">Email<label>
            <input type="email" name="useremail">

            <label for="password">password<label>
                <input type="password" name="userpassword">

                <label for="name">Phone<label>
                    <input type="text" name="userphone">

                    <label for="name">Type<label>
                        <input type="number" name="usertype">

                        <input type="submit" value="submit">
                      </form>

                    </div>
