<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">

      <div class="info" style="left: 20px;">
        <p>
          {{ currentUser.name }}
        </p>
        <p>{{ currentUser.email }}</p>
      </div>
      <br><br>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <li class="">
        <a href="/admin/event_feed">
          <i class="fa fa-calendar-plus-o"></i>
          <span>Event Feed</span>
        </a>
      </li>

      <li class="">
        <a href="/eventlist">
          <i class="fa fa-users"></i>
          <span>Event Guests</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/shops">
          <i class="fa fa-shopping-cart"></i>
          <span>Shops</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/offer">
          <i class="fa fa-gift"></i>
          <span>Offers</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/gallery">
          <i class="fa fa-picture-o"></i>
          <span>Gallery</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/usersemail">
          <i class="fa fa-user"></i>
          <span>Users email</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/logout">
          <i class="fa fa-sign-out "></i>
          <span>Log out</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
